* {
    margin: 0;
    color: #000000;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 120px 0 120px;
    font-size: 16px;
    font-family: "Kumbh Sans", sans-serif;
    line-height: 26px;
    font-weight: 300;
}

@media (max-width: 768px) {
    body {
        margin: 0 25px;
        font-size: 16px;
        font-family: "Kumbh Sans", sans-serif;
        line-height: 26px;
        font-weight: 300;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 0 50px 0;
}

@media (max-width: 768px) {
    nav {
        padding: 30px 0 50px 0;
    }
}

.nav-item-desktop {
    padding-bottom: 5px;
}

@media (max-width: 768px) {
    .nav-item-desktop {
        display: none;
    }
}

.nav-item-desktop:hover {
    border-bottom: 2px solid black;
}

.nav-item-mobile {
    display: none
}

@media (max-width: 768px) {
    .nav-item-mobile {
        display: inline;
    }
}

.home {
    display: none;
}

@media (max-width: 768px) {
    .home {
        display: inline;
        height: 25px;
        padding-top: 3px;
    }
}


.nav-item {
    padding-bottom: 5px;
}

.nav-item:hover {
    border-bottom: 2px solid black;
}


.right-nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 50px;
}

@media (max-width: 768px) {
    .right-nav {
        gap: 20px;
    }
}

a {
    text-decoration: none;
}


h1 {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 200px;
    font-weight: 900;
    line-height: 185px;
}

@media (max-width: 768px) {
    h1 {
        font-family: "Kumbh Sans", sans-serif;
        font-size: 90px;
        font-weight: 900;
        line-height: 50px;
    }
}

@media (min-width: 1600px) {
    h1 {
        font-family: "Kumbh Sans", sans-serif;
        font-size: 250px;
        font-weight: 900;
        line-height: 50px;
    }
}


h2 {
    font-size: 100px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 900;
    line-height: 95px;
    z-index: 10;
    height: auto;
}

@media (max-width: 768px) {
    h2 {
        font-size: 38px;
        font-family: "Kumbh Sans", sans-serif;
        font-weight: 900;
        line-height: 48px;
        height: auto;
    }
}

h3 {
    font-size: 85px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 900;
}

@media (max-width: 768px) {
    h3 {
        font-size: 32px;
        font-family: "Kumbh Sans", sans-serif;
        font-weight: 900;
    }
}


h4 {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 42px;
    font-weight: 500;
    line-height: 56px;
}

@media (max-width: 768px) {
    h4 {
        font-size: 28px;
        font-weight: 500;
        line-height: 42px;
    }
}

@media (min-width: 769px) and (max-width: 1400px) {
    h4 {
        font-family: "Kumbh Sans", sans-serif;
        font-size: 28px;
        font-weight: 500;
        line-height: 42px;
    }
}


h5 {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 28px;
    font-weight: 500;
}

@media (max-width: 768px) {
    h5 {
        font-family: "Kumbh Sans", sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
    }
}

@media (min-width: 769px) and (max-width: 1400px) {
    h5 {
        font-family: "Kumbh Sans", sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
    }
}

h6 {
    font-size: 18px;
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    line-height: 30px;
    padding-bottom: 3px;
    height: auto;
}

@media (max-width: 768px) {
    h6 {
        font-size: 18px;
        font-family: "Kumbh Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        line-height: 30px;
        padding-bottom: 3px;
        height: auto;
    }
}

.hp-intro {
    padding-top: 75px;
    padding-bottom: 125px;
    gap: 100px;
}

@media (max-width: 768px) {
    .hp-intro {
        padding-top: 50px;
        padding-bottom: 0;
        gap: 100px;
    }
}

.hello {
    display: flex;
    align-items: baseline;
    padding-bottom: 10px;
}

.wave {
    transform-origin: bottom center;
    transform: rotate(-7deg);
    animation: wave 1s 2;
    animation-delay: 0.6s;
}

@media (max-width: 768px) {
    .wave {
        transform-origin: bottom center;
        transform: rotate(-7deg);
        animation: wave 1s 2;
        animation-delay: 0.6s;
        max-width: 100px;
    }
}

@keyframes wave {

    0%,
    100% {
        transform: rotate(-7deg);
    }

    50% {
        transform: rotate(7deg);
    }
}

.intro-text {
    max-width: 500px;
}

@media (min-width: 1600px) {
    .intro-text {
        max-width: 900px;
        padding-top: 25px;
    }

}

.small-intro {
    padding-top: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
}


.small-intro h6 {
    padding-bottom: 0;
    font-weight: 400;
}

.projects {
    padding-bottom: 250px;
    padding-top: 125px;
}


.tile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 450px;
    padding-left: 80px;
    position: relative;
    overflow: hidden;
}

@media (max-width: 768px) {
    .tile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        max-width: 768px;
        height: 250px;
        padding-left: 15px;
        overflow: hidden;
    }
}

.pas {
    background-image: url('./Images/HOMEPAGE/PAS-BG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}


.pas-show-hover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 80px;
    transform: translateY(100%);
    transition: all .5s ease;
}

@media (max-width: 768px) {
    .pas-show-hover {
        display: none;
    }
}


.pas:hover .pas-show-hover {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {
    .pas:hover .pas-show-hover {
        display: none;
    }
}

.tile-cta {
    color: #ffffff;
    margin-top: auto;
    height: auto;
    padding-bottom: 25px;
    margin-left: auto;
    padding-right: 50px;
}

.cta {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-top: auto;
    height: auto;
    padding-bottom: 25px;
    margin-left: auto;
    padding-right: 30px;
}

.cta h6 {
    color: #ffffff;
}

.cta img {
    vertical-align: middle;
}

.project-name {
    color: #ffffff;
    padding-bottom: 30px;
    max-width: 750px;
}

@media (max-width: 768px) {
    .project-name {
        color: #ffffff;
        max-width: 300px;
        padding-bottom: 0;
    }
}

.project-role {
    display: flex;
    gap: 30px;
    padding-left: 10px;
}

.tile h2,
.tile h6 {
    transition: opacity .5s ease;
}

.tile:hover h2,
.tile:hover h6 {
    opacity: 0;
}

.stv {
    background-image: url('./Images/HOMEPAGE/STV-BG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.stv-show-hover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 80px;
    transform: translateY(100%);
    transition: all .5s ease;
}


@media (max-width: 768px) {
    .stv-show-hover {
        display: none;
    }
}


.stv:hover .stv-show-hover {
    opacity: 1;
    transform: translateY(0);
    z-index: 8;
}

@media (max-width: 768px) {
    .stv:hover .stv-show-hover {
        display: none;
    }
}

.cslr {
    background-image: url('./Images/HOMEPAGE/CSLR-BG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cslr-show-hover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 80px;
    transform: translateY(100%);
    transition: all .5s ease;
}

@media (max-width: 768px) {
    .cslr-show-hover {
        display: none;
    }
}


.cslr:hover .cslr-show-hover {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {
    .cslr:hover .cslr-show-hover {
        display: none;
    }
}

.list-start {
    list-style-type: none;
    color: #ffffff;
}

@media (max-width: 768px) {
    .list-start {
        display: none;
    }
}

.list-follow {
    color: #ffffff;
}

@media (max-width: 768px) {
    .list-follow {
        display: none;
    }
}

footer {
    padding-bottom: 50px;
}

.footer-title {
    align-items: flex-end;
    display: flex;
    gap: 5px;
    margin-bottom: 25px;
}

@media (max-width: 768px) {
    .footer-title {
        align-items: flex-end;
        display: flex;
        gap: 5px;
        margin-bottom: 0;
    }
}


.footer-title h3 {
    line-height: 56px;
}

@media (max-width: 768px) {
    .footer-title h3 {
        line-height: 24px;
    }
}

.pencil {
    max-height: 100px;
}

@media (max-width: 768px) {
    .pencil {
        max-height: 50px;
    }
}

.footer-text {
    padding: 20px 0 20px 0;
    max-width: 475px;
    font-weight: 400;
}

.footer-links {
    font-size: 18px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 10px;
    line-height: 40px;
    padding-bottom: 5px;
}


.mail-icon {
    width: 20px;
    padding-right: 15px;
}

.linkedin-icon {
    width: 20px;
    padding-right: 15px;
    padding-bottom: 3px;
}

.contact-type {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}


.about {
    display: flex;
    gap: 120px;
    padding-top: 75px;
    margin-bottom: 250px;
}

@media (max-width: 768px) {
    .about {
        display: block;
        padding-top: 50px;
        margin-bottom: 150px;
    }
}

.case-study {
    display: flex;
    gap: 120px;
}

@media (max-width: 768px) {
    .case-study {
        display: block;
    }
}

.about-left {
    position: sticky;
    top: 100px;
    height: 100%;
    background-color: transparent;
    padding-right: 50px;
    padding-bottom: 15px;
    border-right: 1.5px solid #000000;
    max-width: 500px;
}

@media (max-width: 768px) {
    .about-left {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1400px) {
    .about-left {
        position: sticky;
        top: 100px;
        height: 100%;
        background-color: transparent;
        padding-right: 50px;
        padding-bottom: 15px;
        border-right: 1.5px solid #000000;
        max-width: 600px;
    }
}

@media (min-width: 1600px) {
    .about-left {
        position: sticky;
        top: 100px;
        height: 100%;
        background-color: transparent;
        padding-right: 50px;
        padding-bottom: 15px;
        border-right: 1.5px solid #000000;
        max-width: 600px;
        margin-left: 100px;
    }
}

.tldr {
    font-size: 24px;
    padding-bottom: 10px;
    padding-top: 15px;
}


.short-form {
    font-size: 46px;
    padding-bottom: 15px;
}


.about-right {
    font-size: 18px;
    max-width: 700px;
    margin-right: 25px;
}

@media (max-width: 768px) {
    .about-right {
        font-size: 18px;
        max-width: 700px;
        margin-right: 0;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .about-right {
        font-size: 18px;
        max-width: 500px;
        margin-right: 0;
    }
}

@media (min-width: 1201px) and (max-width: 1400px) {
    .about-right {
        font-size: 18px;
        max-width: 600px;
        margin-right: 0;
    }
}

.about-heading {
    padding-top: 100px;
    padding-bottom: 25px;
}

@media (max-width: 768px) {
    .about-heading {
        padding-top: 50px;
        padding-bottom: 30px;
    }
}


.program {
    font-weight: bold;
    padding-bottom: 2px;
}


.institution {
    padding-bottom: 30px;
    padding-right: 80px;
}

@media (max-width: 768px) {
    .institution {
        padding-bottom: 30px;
        padding-right: 30px;
    }
}

.header-img {
    max-height: 200px;
}


.project1-img {
    display: block;
    width: 100%;
}


.image-text-button-pas {
    background-image: url('./Images/PAS-BG.jpg');
    background-position: 100% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 125px 0 125px 0;
    margin-bottom: 75px;
}

@media (max-width: 768px) {
    .image-text-button-pas {
        background-image: url('./Images/PAS-BG.jpg');
        background-position: 25% 25%;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 50px 0 50px 0;
        margin-bottom: 50px;
    }
}

.image-text-button-stv {
    background-image: url('./Images/HOMEPAGE/STV-BG.jpg');
    background-position: 100% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 125px 0 125px 0;
    margin-bottom: 75px;
}

@media (max-width: 768px) {
    .image-text-button-stv {
        background-image: url('./Images/HOMEPAGE/STV-BG.jpg');
        background-position: 80% 80%;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 50px 0 50px 0;
        margin-bottom: 75px;
    }
}

.image-text-button-cslr {
    background-image: url('./Images/HOMEPAGE/CSLR-BG.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 125px 0 125px 0;
    margin-bottom: 75px;
}

@media (max-width: 768px) {
    .image-text-button-cslr {
        background-image: url('./Images/HOMEPAGE/CSLR-BG.jpg');
        background-position: 10% 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 50px 0 50px 0;
        margin-bottom: 75px;
    }
}



.title {
    font-size: 85px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 900;
    line-height: 100px;
    color: #ffffff;
    Padding-left: 50px;
    max-width: 1000px;
    background-color: transparent;
}

@media (max-width: 768px) {
    .title {
        font-size: 36px;
        font-family: "Kumbh Sans", sans-serif;
        font-weight: 900;
        line-height: 46px;
        color: #ffffff;
        Padding-left: 20px;
        max-width: 300px;
        background-color: transparent;
    }
}

@media (min-width: 769px) and (max-width: 1400px) {
    .title {
        font-size: 85px;
        font-family: "Kumbh Sans", sans-serif;
        font-weight: 900;
        line-height: 100px;
        color: #ffffff;
        Padding-left: 50px;
        max-width: 900px;
        background-color: transparent;
    }
}

.about-right-prj {
    font-size: 18px;
    max-width: 700px;
    margin-right: 25px;
}

@media (max-width: 768px) {
    .about-right-prj {
        font-size: 18px;
        max-width: 700px;
        margin-right: 0;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .about-right-prj {
        font-size: 18px;
        max-width: 300px;
        margin-right: 25px;
    }
}

@media (min-width: 1201px) and (max-width: 1400px) {
    about-right-prj {
        font-size: 18px;
        max-width: 400px;
        margin-right: 25px;
    }
}

@media (min-width: 1600px) {
    .about-right-prj {
        font-size: 18px;
        max-width: 700px;
        margin-right: 200px;
        margin-left: 100px;
    }
}

@media (min-width: 769px) and (max-width: 1400px) {
    .about-right-prj {
        font-size: 18px;
        max-width: 600px;
        margin-right: 0px;
    }
}

.project-type {
    padding-top: 25px;
    padding-bottom: 25px;
    line-height: 40px;
}

@media (max-width: 768px) {
    .project-type {
        padding-top: 0;
        padding-bottom: 25px;
        line-height: 40px;
    }
}

@media (min-width: 769px) and (max-width: 1400px) {
    .project-type {
        font-size: 24px;
        line-height: 32px;
    }
}

.about-left-prj {
    position: sticky;
    top: 100px;
    height: 100%;
    background-color: transparent;
    padding-right: 25px;
    margin-left: 5px;
    border-right: 1px solid #000000;
    width: 300px;
}

@media (max-width: 768px) {
    .about-left-prj {
        position: static;
        top: 100px;
        height: 100%;
        background-color: transparent;
        padding-right: 0;
        margin-left: 5px;
        border-right: 0;
        width: 300px;
    }
}

@media (min-width: 769px) and (max-width: 1400px) {
    .about-left-prj {
        position: sticky;
        top: 100px;
        height: 100%;
        background-color: transparent;
        padding-right: 25px;
        margin-left: 5px;
        border-right: 1px solid #000000;
        width: 300px;
    }
}


@media (min-width: 1600px) {
    .about-left-prj {
        position: sticky;
        top: 100px;
        height: 100%;
        background-color: transparent;
        padding-right: 100px;
        margin-left: 200px;
        border-right: 1px solid #000000;
        width: 300px;
    }
}

.project-phase {
    padding-bottom: 25px;
}

.project-heading {
    padding: 30px 0 25px 0;
    line-height: 40px;
}


@media (max-width: 768px) {
    .project-heading {
        padding: 30px 0 20px 0;
        line-height: 40px;
    }
}


.bullet-point {
    padding: 5px 0 4px 0;
}

.preview-img {
    padding-top: 75px;
    max-width: 700px;
}

@media (max-width: 768px) {
    .preview-img {
        padding: 50px 0 25px 0;
        max-width: 100%;
    }
}

.stv-preview-img {
    padding-top: 100px;
    max-width: 400px;
}

@media (max-width: 768px) {
    .stv-preview-img {
        padding: 50px 0 25px 0;
        max-width: 300px;
    }
}

.stv-preview-img2 {
    padding-top: 75px;
    max-width: 700px;
}

@media (max-width: 768px) {
    .stv-preview-img2 {
        padding: 50px 0 25px 0;
        max-width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1429px) {
    .stv-preview-img2 {
        padding: 50px 0 25px 0;
        max-width: 100%;
    }
}


@media (max-width: 768px) {
    .preview-img2 {
        padding: 50px 0 25px 0;
        max-width: 100%;
    }
}


.small-img {
    padding: 75px;
    max-width: 500px;
}

@media (max-width: 768px) {
    .small-img {
        padding: 50px 0 50px 0;
        max-width: 100%;
    }
}

.preview-cslr {
    padding: 75px 0 100px 0;
    max-width: 350px;
}

@media (max-width: 768px) {
    .preview-cslr {
        padding: 50px 0 50px 0;
        max-width: 300px;
    }
}

.imagery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prj-sub {
    padding-bottom: 25px;
}


.sub-full-image {
    margin-top: 25px;
    background-color: #FAFAFA;
    text-align: center;
}


.sub-title {
    font-weight: 500;
    padding: 10px 0 15px 0;
}

.project-buttons {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 300px;
    width: auto;
}

@media (max-width: 768px) {
    .project-buttons {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 200px;
        width: 100%;
    }
}

.previous-button {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

@media (max-width: 768px) {
    .previous-button {
        border-bottom: 2px solid white;
        padding-bottom: 5px;
        max-width: 155px;
    }
}

.previous-button:hover {
    border-bottom: 2px solid black;
    box-sizing: border-box;
}

.next-button {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

@media (max-width: 768px) {
    .next-button {
        border-bottom: 2px solid white;
        padding-bottom: 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        border-bottom: 2px solid white;
        padding-bottom: 5px;
        max-width: 155px;
    }
}

.next-button:hover {
    border-bottom: 2px solid black;
}

.top-line {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

@media (max-width: 768px) {
    .top-line {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .top-text {
        font-size: 16px;
        line-height: 25px;
    }
}

.bottom-line {
    text-align: right;
}

@media (max-width: 768px) {
    .bottom-line {
        text-align: right;
        font-size: 16px;
        line-height: 25px;
    }
}

@media (max-width: 768px) {
    .arrow {
        max-height: 15px;
    }
}

.pas-full-image {
    background-color: #FAFAFA;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    box-sizing: border-box;
    padding: 75px;
}

@media (max-width: 768px) {
    .pas-full-image {
        background-color: #FAFAFA;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        box-sizing: border-box;
        padding: 25px;
    }
}


.full-img {
    width: auto;
    height: 100%;
}

@media (max-width: 768px) {
    .full-img {
        width: 300px;
        height: auto;
    }
}

@media (min-width: 769px) and (max-width: 1429px) {
    .full-img {
        width: auto;
        height: 100%;
    }
}

.full-img2 {
    width: auto;
    height: 100%;
    margin-top: 250px;
}

@media (max-width: 768px) {
    .full-img2 {
        margin-top: 0;
        width: 300px;
        height: auto;
    }
}


@media (min-width: 769px) and (max-width: 1429px) {
    .full-img2 {
        margin-top: 0;
        width: auto;
        height: 100%;
    }
}

.full-img3 {
    width: auto;
    height: 100%;
    margin-top: -650px;
}

@media (max-width: 768px) {
    .full-img3 {
        margin-top: 0;
        width: 300px;
        height: auto;
    }
}


@media (min-width: 769px) and (max-width: 1429px) {
    .full-img3 {
        margin-top: 0;
        width: auto;
        height: 100%;
    }
}

.full-img4 {
    width: auto;
    height: 100%;
    margin-top: 40px;
}

@media (max-width: 768px) {
    .full-img4 {
        margin-top: 0;
        width: 300px;
        height: auto;
    }
}


@media (min-width: 769px) and (max-width: 1429px) {
    .full-img4 {
        margin-top: 0;
        width: auto;
        height: 100%;
    }
}

.stv-full-image {
    background-color: #FAFAFA;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    box-sizing: border-box;
    padding: 75px;
}

@media (max-width: 768px) {
    .stv-full-image {
        background-color: #FAFAFA;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        box-sizing: border-box;
        padding: 25px;
    }
}

.full-img-stv {
    width: auto;
    height: 100%;
}

@media (max-width: 768px) {
    .full-img-stv {
        width: auto;
        height: 100%;
    }
}

.cslr-full-image {
    background-color: #FAFAFA;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    box-sizing: border-box;
    padding: 75px;
}

@media (max-width: 768px) {
    .cslr-full-image {
        background-color: #FAFAFA;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        box-sizing: border-box;
        padding: 25px;
    }
}


@media (min-width: 769px) and (max-width: 1429px) {
    .cslr-full-image {
        background-color: #FAFAFA;
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        box-sizing: border-box;
        padding: 75px;
    }
}

.cslrfull-img {
    width: auto;
    height: 100%;
}

@media (max-width: 768px) {
    .cslrfull-img {
        width: 300px;
        height: auto;
    }
}


@media (min-width: 769px) and (max-width: 1429px) {
    .cslrfull-img {
        width: auto;
        height: 100%;
        margin-top: 0px;
    }
}

.cslrfull-img2 {
    width: auto;
    height: 100%;
    margin-top: 250px;
}

@media (max-width: 768px) {
    .cslrfull-img2 {
        width: 300px;
        height: auto;
        margin-top: 0;
    }
}


@media (min-width: 769px) and (max-width: 1429px) {
    .cslrfull-img2 {
        width: auto;
        height: 100%;
        margin-top: 0px;
    }
}

.cslrfull-img3 {
    width: auto;
    height: 100%;
}

@media (max-width: 768px) {
    .cslrfull-img3 {
        width: 300px;
        height: auto;
    }
}

@media (min-width: 769px) and (max-width: 1429px) {
    .cslrfull-img3 {
        width: auto;
        height: 100%;
        margin-top: 0px;
    }
}

.cslrfull-img4 {
    width: auto;
    height: 100%;
    margin-top: -450px;
}

@media (max-width: 768px) {
    .cslrfull-img4 {
        width: 300px;
        height: auto;
        margin-top: 0px;
    }
}


@media (min-width: 769px) and (max-width: 1429px) {
    .cslrfull-img4 {
        width: auto;
        height: 100%;
        margin-top: 0px;
    }
}