* {
    margin: 0;
    color: #000000;
}


body {
    margin: 0 120px 0 120px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 0 75px 0;
}

.right-nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 50px;
}

a {
    text-decoration: none;
}


h1 {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 200px;
    font-weight: 900;
    line-height: 185px;
}

h2 {
    font-size: 100px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 900;
    line-height: 95px;
}

h3 {
    font-size: 80px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 900;
}


h4 {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 42px;
    font-weight: 500;
    line-height: 56px;
}

h6 {
    font-size: 18px;
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    line-height: 30px;
}

.hp-intro {
    padding-top: 75px;
    padding-bottom: 250px;
}

.intro-text {
    max-width: 600px;
}

.small-intro {
    padding-top: 35px;
}


.projects {
    padding-bottom: 250px;
}


.tile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 450px;
    padding-left: 80px;
    overflow: hidden;
}

.pas {
    background-image: url('./Images/PAS-BG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.project-show-hover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 300px;
    opacity: 0;
    height: 0;
    transform: translateY(290px);
}


.pas:hover .project-show-hover {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s ease-in;
    margin-top: auto;
}

.tile-cta {
    color: #ffffff;
}

.project-name {
    color: #ffffff;
    padding-bottom: 30px;
    max-width: 700px;
}

.project-role {
    display: flex;
    gap: 30px;
    padding-left: 10px;
}

.tile:hover .pas,
.pas:hover .project-name,
.pas:hover .list-start,
.pas:hover .list-follow {
    opacity: 0;
    display: none;
}

.stv {
    background-image: url('./Images/STV-BG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.stv:hover .project-name,
.stv:hover .list-start,
.stv:hover .list-follow {
    opacity: 0;
}

.cslr {
    background-image: url('./Images/CSLR-BG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cslr:hover .project-name,
.cslr:hover .list-start,
.cslr:hover .list-follow {
    opacity: 0;
}



.list-start {
    list-style-type: none;
    color: #ffffff;
}

.list-follow {
    color: #ffffff;
}


footer {
    padding-bottom: 75px;
}

.footer-text {
    padding: 20px 0 30px 0;
    max-width: 475px;
}

.footer-links {
    font-size: 18px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 10px;
    line-height: 40px;
}


.about {
    display: flex;
    gap: 120px;
}

.about-left {
    position: sticky;
    top: 100px;
    z-index: 100;
    height: 100%;
    background-color: transparent;
    padding-right: 75px;
    border-right: 2px solid #061f44;
    max-width: 500px;
    /*text-align: right;*/
}


.tldr {
    font-size: 24px;
    padding-bottom: 10px;
    padding-top: 15px;
}


.short-form {
    font-size: 46px;
    padding-bottom: 15px;
}


.about-right {
    font-size: 18px;
    max-width: 650px;
}


.about-heading {
    padding-top: 80px;
    padding-bottom: 25px;
    font-size: 36px;
}


.program {
    font-weight: bold;
    padding-bottom: 6px;
}


.institution {
    padding-bottom: 30px;
    padding-right: 80px;
}


.header-img {
    max-height: 200px;
}


.project1-img {
    display: block;
    width: 100%;
}


section.image-text-button {
    background-image: url('./Images/Group 706.jpg');
    background-position: 100% 50%;
    background-size: cover;
    background-repeat: no repeat;
    background-attachment: fixed;
    height: 100px;
    padding: 150px 0 150px 0;
}


.placeholder {
    padding: 50px 0 1000px 0;
}

.title {
    font-size: 60px;
    color: #ffffff;
    Padding-left: 50px;
    max-width: 500px;
    line-height: 80px;
    background-color: transparent;
}